:root {
  /* Primary Colors */
  --color-primary: #0c2151;
  --color-secondary: #333333;

  /* Background Colors */
  --color-background: #ffffff;
  --color-surface: #f8fafc;

  /* Text Colors */
  --color-text-primary: #111111;
  --color-text-secondary: #555555;

  /* Action Colors */

  /* Button Background Colors */
  --color-button-primary-bg: var(--color-primary);
  --color-button-primary-bg-hover: transparent;

  --color-button-secondary-bg: transparent;
  --color-button-secondary-bg-hover: var(--color-primary);

  /* Buttons Text Colors */
  --color-button-primary-txt: #ffffff;
  --color-button-primary-txt-hover: var(--color-primary);

  --color-button-secondary-txt: var(--color-primary);
  --color-button-secondary-txt-hover: #ffffff;

  /* Button Border Colors */
  --color-button-border: var(--color-primary);
}

/* CSS Reset - It removes default spacing*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.hero {
  /* 1. Purpose: Primary landing section of the website.
    Introducing Ted and comunicates the main value proposition.
 */

  /* 2. Size */
  min-height: 100vh;

  /* 3. Position / Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* 4. Spacing */
  padding: 2rem;

  /* 5. Appearance */
  background-color: var(--color-background);

  /* 6. Typography */
  text-align: center;

  /* 7. Behavior: Nothing yet */
}

.hero-name {
  /* 1. Purpose: Main headline of the website | Primary element visitors should remember */

  /* 2. Size */
  font-size: 4rem;

  /* 3. Position / Layout: Inherited from .hero Flexbox container */

  /* 4. Spacing */
  margin-bottom: 1.5rem;

  /* 5. Appearance */
  color: var(--color-text-primary);

  /* 6. Typography */
  font-weight: 800;
  line-height: 1.1;

  /* 7. Behavior:  Nothing yet*/
}

@media (max-width: 600px) {
  .hero-name {
    font-size: 2.8rem;
  }
}

.hero-description {
  /* 1. Purpose: Explain what Ted does and why it matters */

  /* 2. Size */
  max-width: 700px;

  /* 3. Position / Layout: Inherited from .hero */

  /* 4. Spacing */
  margin-bottom: 2rem;

  /* 5. Appearance: Nothing yet */

  /* 6. Typography */
  font-size: 1.2rem;
  line-height: 1.8;

  /* 7. Behavior: Nothing yet */
}

.hero-intro {
  /* 1. Purpose: Introduce the main heading */

  /* 2. Size */
  font-size: 1.25rem;

  /* 3. Position / Layout: Inherited from .hero */

  /* 4. Spacing */
  margin-bottom: 0.75rem;

  /* 5. Appearance */
  color: var(--color-text-secondary);

  /* 6. Typography */
  font-weight: 400;

  /* 7. Behavior: Nothing yet */
}

.hero-title {
  /* 1. Purpose: Professional identity */

  /* 2. Size */
  font-size: 2rem;

  /* 3. Position / Layout: Inherited from .hero */

  /* 4. Spacing */
  margin-bottom: 1.5rem;

  /* 5. Appereance */
  color: var(--color-text-secondary);

  /* 6. Typography */
  font-weight: 600;

  /* 7. Behavior: Nothing yet */
}

.hero-buttons {
  /* 1. Purpose: Container for the primary and secondary call-to-action links. */

  /* 2. Size: Content-based */

  /* 3. Position / Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* 4. Spacing */
  margin-top: 1rem;

  /* 5. Appearance: Nothing yet */

  /* 6. Typography: Inherited from .hero */

  /* 7. Behavior: Nothing yet */
}

.btn-primary,
.btn-secondary {
  /* 1. Purpose: Style hero links as clickable call-to-action buttons */

  /* 2. Size */
  min-width: 140px;

  /* 3. Position / Layout */
  display: inline-block;

  /* 4. Spacing */
  padding: 0.9 rem 1.5rem;

  /* 5. Appearance */
  border-radius: 999px;
  border: 2px solid var(--color-button-border);

  /* 6. Typography */
  text-decoration: none;
  font-weight: 600;

  /* 7. Behavior */
  transition: all 0.3s ease;
}

.btn-primary {
  /* 5. Appearance */
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-txt);
}

.btn-secondary {
  /* 5. Appearance */
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-txt);
}

.btn-primary:hover {
  /* 7. Behavior */
  background-color: var(--color-button-primary-bg-hover);
  color: var(--color-button-primary-txt-hover);
}

.btn-secondary:hover {
  /* 7. Behavior */
  background-color: var(--color-button-secondary-bg-hover);
  color: var(--color-button-secondary-txt-hover);
}
