/* Root Variables */

:root {
  /* ---------------------------------- Navigation --------------------------- */

  /* Background*/
  --color-nav-bg: #ffffff;

  /* Logo */
  --color-nav-logo-txt: #111111;
  --color-nav-logo-txt-hover: #333333;

  /* Nav Links */

  /* Desktop  */
  --color-nav-links-txt: #555555;
  --color-nav-links-txt-hover: #111111;

  /* Mobile */
  --color-nav-Mlinks-txt: #bfb9b9;
  --color-nav-Mlinks-txt-hover: #ffffff;

  /* Hamburger*/
  --color-nav-hamburgerBtn-bg-hover: #f5f5f7;
  --color-nav-hamburgerBtn-bar-bg: #111111;

  /* Scrolled*/
  --color-nav-logo-txt-scrolled: #ffffff;
  --color-nav-logo-txt-scrolled-hover: #bfb9b9;

  --color-nav-links-txt-scrolled: #bfb9b9;
  --color-nav-links-txt-scrolled-hover: #ffffff;

  --color-nav-hamburgerBtn-bg-scrolled-hover: #f5f5f724;
  --color-nav-hamburgerBtn-bar-bg-scrolled: #ffffff;

  /*-------------------------------------------------------------------------*/

  /* Primary Colors */
  --color-primary: #0c2151;
  --color-secondary: #333333;

  /* Background Colors */
  --color-background: #ffffff;
  --color-surface: #f8fafc;
  --color-hero-bg: #f5f5f7;

  /* Text Colors */
  --color-text-primary: #111111;
  --color-text-secondary: #555555;

  /* Action Colors */

  /* Button Background Colors */
  --color-button-primary-bg: #0071e3;
  --color-button-primary-bg-hover: #005bb5;

  --color-button-secondary-bg: #ffffff;
  --color-button-secondary-bg-hover: var(--color-button-primary-bg-hover);

  /* Buttons Text Colors */
  --color-button-primary-txt: #ffffff;
  --color-button-primary-txt-hover: #ffffff;

  --color-button-secondary-txt: var(--color-button-primary-bg);
  --color-button-secondary-txt-hover: #ffffff;

  /* Button Border Colors */
  --color-button-border: #046edd;
  --color-button-border-hover: #ffffff;
}

/* Global Reset */

* {
  /* CSS Reset - It removes default spacing*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 1. Purpose: Global typography for the website */
  /* 2. Position / Layout: N/A */
  /* 3. Size: Inherited */
  /* 4. Spacing: N/A */

  /* 5. Appearance */
  background-color: var(--color-background);
  color: var(--color-text-primary);

  /* 6. Typography */
  font-family: "Inter", sans-serif;

  /* 7. Behavior: N/A */
}

/* Body scroll lock when Hamburger menu is open */
body.no-scroll {
  overflow: hidden;
}
