/* 0. ==== NAVIGATION SECTION MAP ====

header
    └──.main-nav
    ├──.logo
    └──.nav-links
        └── a

    .hamburger
    #overlay
    .sidebar-nav
        ├── .sidebar-header
        └── .sidebar-links
            └── a

===================================== */

header {
  /* 1. Purpose: Sticky wrapper that keeps the navigation visible while users scroll the page. */

  /* 2. Size */
  width: 100%;

  /* 3. Position / Layout */
  position: sticky;
  top: 0;
  z-index: 1000;

  /* 4. Spacing: Nothing yet */

  /* 5. Appearance */
  background-color: var(--color-background);

  /* 6. Typography: Inherited */

  /* 7. Behavior */
  transition:
    background-color 0.3s ease,
    background-filter 0.3s ease,
    box-shadow 0.3s ease;
}

header.scrolled {
  /* 1. Purpose: Applied when the user scolls down the page to create premium glass effect. */

  /* 5. Appearance */
  background-color: rgb(255, 255, 255, 0.8);

  backdrop-filter: blur(16px);
  --webkit-backdrop-filter: blur(16px);

  box-shadow: 0 4px 20px rgb(0, 0, 0.06);
}

.main-nav {
  /* 1. Purpose: Primary desktop navigation for the website. */

  /* 2. Size */
  width: 100%;
  height: 60px;

  /* 3. Position / Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 4. Spacing */
  padding: 0 4rem;

  /* 5. Appearance */
  background-color: var(--color-background);

  /* 6. Typography */
  font-family: "Inter", sans-serif;

  /* 7. Behavior: Nothing yet */
}

.logo {
  /* 1. Purpose: Brand link that returns users to the homepage */

  /* 2. Size: Content-based */

  /* 3. Position / Layout */
  display: inline-block;

  /* 4. Spacing: Nothing yet */

  /* 5. Appearance */
  color: var(--color-text-primary);

  /* 6. Typography */
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  /* 7. Behavior */
  transition:
    color 0.25s ease,
    font-weight 0.25s ease;
}

.nav-links {
  /* 1. Purpose: Groups the primary navigation links. */

  /* 2. Size: Content-based */

  /* 3. Position / Layout */
  display: flex;
  align-items: center;
  gap: 2rem;

  /* 4. Spacing */
  list-style: none;

  /* 5. Appearance: Nothing yet */
  /* 6. Typography: Inherited from .main-nav */
  /* 7. Behavior: Nothing yet*/
}

.nav-links a {
  /* 1. Purpose: Links users to major websiye sections. */

  /* 2. Size: Content-based */

  /* 3. Position / Layout */
  display: inline-block;

  /* 4. Spacing: Nothing yet */

  /* 5. Appearance */
  color: var(--color-text-secondary);

  /* 6. Typography */
  font-size: 0.85rem;
  font-weight: 400;
  text-decoration: none;

  /* 7. Behavior */
  transition:
    color 0.25s ease,
    font-weight 0.25s ease;
}

.logo:hover {
  /* 7. Behavior */
  color: var(--color-secondary);
}

.nav-links a:hover {
  /* 7. Behavior */
  color: var(--color-primary);
  font-weight: 600;
}

.hamburger,
#overlay,
.sidebar-nav {
  /* Hide Mobile Navigation*/
  display: none;
}
