/* 0. ==== DESKTOP NAVIGATION MAP ====

header
    └──.main-nav
        ├──.logo
        └──.nav-links
            └── a
===================================== */

header {
  /* 1. Purpose: Sticky wrapper that keeps the navigation visible while users scroll the page. */

  /* 2. Position / Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  /* 3. Size */
  width: 100%;
}

.main-nav {
  /* 1. Purpose: Primary desktop navigation for the website. */

  /* 2. Position / Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 3. Size */
  width: 100%;
  height: 48px;

  /* 4. Spacing */
  padding: 0 8rem;

  /* 5. Typography */
  font-family: "Inter", sans-serif;

  /* 6. Appearance */
  background-color: var(--color-nav-bg);

  /* 7. Behavior */
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.logo {
  /* 1. Purpose: Brand link that returns users to the homepage */

  /* 2. Position / Layout */
  display: inline-block;

  /* 5. Typography */
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  /* 6. Appearance */
  color: var(--color-nav-logo-txt);

  /* 7. Behavior */
  transition: color 0.25s ease;
}

.logo:hover {
  /* 7. Behavior */
  color: var(--color-nav-logo-txt-hover);
}

.nav-links {
  /* 1. Purpose: Groups the primary navigation links. */

  /* 2. Position / Layout */
  display: flex;
  align-items: center;
  gap: 2rem;

  /* 3. Size: Content-based */

  /* 4. Spacing */
  list-style: none;
}

.nav-links a {
  /* 1. Purpose: Links users to major websiye sections. */

  /* 2. Position / Layout */
  display: inline-block;

  /* 5. Typography */
  font-size: 0.85rem;
  font-weight: 400;
  text-decoration: none;

  /* 6. Appearance */
  color: var(--color-nav-links-txt);

  /* 7. Behavior */
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
}

.nav-links a:hover {
  /* 7. Behavior */
  color: var(--color-nav-links-txt-hover);
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: var(--color-nav-links-txt-hover);
}

.hamburger,
#overlay {
  /* Hide Mobile Navigation */
  display: none;
}

.main-nav.scrolled {
  /* 1. Purpose: Applied when the user scolls down the page to create premium glass effect. */

  /* 6. Appearance */
  background-color: rgba(29, 29, 31, 0.8);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
}

.main-nav.scrolled .logo {
  /* 6. Appearance */
  color: var(--color-nav-logo-txt-scrolled);
}
.main-nav.scrolled .logo:hover {
  /* 7. Behavior */
  color: var(--color-nav-logo-txt-scrolled-hover);
}

.main-nav.scrolled .nav-links a {
  /* 6. Appearance */
  color: var(--color-nav-links-txt-scrolled);
}
.main-nav.scrolled .nav-links a:hover {
  /* 7. Behavior */
  color: var(--color-nav-links-txt-scrolled-hover);
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: var(--color-nav-links-txt-scrolled-hover);
}

/* 0. ==== MOBILE NAVIGATION MAP ====

header
    └──.main-nav
        ├──.logo
        ├──.hamburger
            ├──.bar
            ├──.bar
            └──.bar
===================================== */

/* Responsive Breakpoint*/

@media (max-width: 768px) {
  /* 1. Purpose: Adapts the Navigation for smaller screens by hiding the desktop links and 
    displaying a hamburger menu that will later control the mobile navigation drawer. */

  .main-nav {
    /* 2. Position Layout */
    justify-content: space-between;

    /* 4. Spacing */
    padding: 0 1.5rem;
  }

  /* ---------------------------------- Hamburger Button - START -----------------------------------------*/

  .hamburger {
    /* 1. Purpose: Displays the mobile navigation toggle on smaller screens. */

    /* 2. Position / Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    /* 3. Size */
    width: 44px;
    height: 44px;

    /* 4. Spacing */
    padding: 0;

    /* 6. Appearance */
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    /* 7. Behavior */
    transition:
      background-color 0.8s ease,
      opacity 0.3s ease;
  }

  .hamburger:hover {
    /* 7. Behavior */
    background-color: var(--color-nav-hamburgerBtn-bg-hover);
  }

  .main-nav.scrolled .hamburger:hover {
    /* 7. Behavior */
    background-color: var(--color-nav-hamburgerBtn-bg-scrolled-hover);
  }

  .bar {
    /* 1 Purpose: Individual line that forms the hamburger icon. */

    /* 2. Position / Layout */
    display: block;

    /* 3. Size */
    width: 24px;
    height: 2px;

    /* 6. Appearance */
    background-color: var(--color-nav-hamburgerBtn-bar-bg);
    border-radius: 999px;

    /* 7. Behavior */
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease,
      background-color 0.3s ease;
  }

  .main-nav.scrolled .bar {
    /* 6. Appearance: Hamburger line when scrolling on mobile */
    background-color: var(--color-nav-hamburgerBtn-bar-bg-scrolled);
  }

  /* ==== HAMBURGER ANIMATION SECTION MAP ==== 

    .hamburger
    │
    ├──.bar:nth-child(1) -> top bar rotates down
    ├──.bar:nth-child(2) -> middle bar disappears
    └──.bar:nth-child(3) -> bottom bar rotates up

    ===============================================*/

  .hamburger.active .bar:nth-child(1) {
    /* 1. Purpose: Turns the top hamburger line into the first half of the X - rotates & shift down */

    /* 2. Position / layout */
    transform: translateY(7px) rotate(45deg);

    /* 7. Behavior: Triggered when .hamburger has the active class */
  }

  .hamburger.active .bar:nth-child(2) {
    /* 1. Purpose: Hides the middle hamburger line when menu is active */
    /* 6. Appearance Inherited from .bar */
    opacity: 0;

    /* 7. Behavior: Triggered when .hamburger has the active class */
  }

  .hamburger.active .bar:nth-child(3) {
    /* 1. Purpose: Turns the bottom hamburger line into the Second half of the X - rotates & shifts up */

    /* 2. Position / layout */
    transform: translateY(-7px) rotate(-45deg);

    /* 7. Behavior: Triggered when .hamburger has the active class */
  }

  /* -------------------------------------- Hamburger Button - END --------------------------------------*/

  /* ---------------------------------------- Nav Links - START ------------------------------------------- */

  .nav-links {
    /* 2. Position / Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    position: fixed;
    top: 48px;
    right: -100%;

    /* 3. Size */
    width: 100%;
    height: calc(100vh - 48px);

    /* 4. Spacing */
    padding: 2rem;

    /* 6. Appearance */
    background-color: rgb(22, 22, 23);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);

    /* 7. Behavior */
    transition:
      right 0.6s ease-in-out,
      transform 0.35s ease-in-out,
      opacity 0.35s ease-in-out;
  }

  .nav-links.active {
    right: 0;
  }

  /* --------------------------------------- Links Animations - START--------------------------------------------------- */

  .nav-links li {
    /* 2. Position / layout */
    transform: translateY(12px);

    /* 6. Appearance*/
    opacity: 0;

    /* 7. Behavior */
    transition:
      opacity 0.35s ease,
      transform 0.35s ease;
  }

  .nav-links.active li {
    /* 2. Position / layout */
    transform: translateY(0);

    /* 6. Appearance*/
    opacity: 1;
  }

  /* 7. Behavior */
  .nav-links.active li:nth-child(1) {
    transition-delay: 0.08s;
  }
  .nav-links.active li:nth-child(2) {
    transition-delay: 0.14s;
  }
  .nav-links.active li:nth-child(3) {
    transition-delay: 0.2s;
  }
  .nav-links.active li:nth-child(4) {
    transition-delay: 0.26s;
  }

  /* ----------------------------------------------- Links Animations - END -----------------------------------------------------*/

  .nav-links a {
    /* 1. Purpose: Links users to major websiye sections. */

    /* 2. Position / Layout */
    display: inline-block;

    /* 4. Spacing: Nothing yet */
    padding: 6px;

    /* 5. Typography */
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;

    /* 6. Appearance */
    color: var(--color-nav-Mlinks-txt);

    /* 7. Behavior */
    transition:
      color 0.3s ease,
      opacity 0.3s ease;
  }

  .nav-links a:hover {
    /* 7. Behavior */
    color: var(--color-nav-Mlinks-txt-hover);
    transform: translateX(4px);
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: var(--color-nav-Mlinks-txt-hover);
  }
  /* ------------------------------------------------ Nav Links - END ---------------------------------------------------- */
}
